<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.smartrick.metaverse.mapper.CommentMapper">

    <resultMap id="CommentVO" type="cn.smartrick.metaverse.domain.vo.CommentVO"></resultMap>
    <resultMap id="CommentExcelVO" type="cn.smartrick.metaverse.domain.vo.excel.CommentExcelVO"></resultMap>


    <select id="selectByPage" resultMap="CommentVO">
        select
        <include refid="queryColumn"></include>
        from t_comment
        <where>
            <if test="queryDTO.id != null">
                AND id = #{queryDTO.id}
            </if>
            <if test="queryDTO.content != null and queryDTO.content != ''">
                AND content = #{queryDTO.content}
            </if>
            <if test="queryDTO.userUuid != null and queryDTO.userUuid != ''">
                AND user_uuid = #{queryDTO.userUuid}
            </if>
            <if test="queryDTO.createdAt != null">
                AND created_at = #{queryDTO.createdAt}
            </if>
            <if test="queryDTO.updatedAt != null">
                AND updated_at = #{queryDTO.updatedAt}
            </if>

            <if test="queryDTO.createTimeBegin != null ">
                AND create_time &gt;= #{queryDTO.createTimeBegin}
            </if>
            <if test="queryDTO.createTimeEnd != null ">
                AND create_time &lt;= #{queryDTO.createTimeEnd}
            </if>

            <if test="queryDTO.updateTimeBegin != null ">
                AND update_time &gt;= #{queryDTO.updateTimeBegin}
            </if>
            <if test="queryDTO.updateTimeEnd != null ">
                AND update_time &lt;= #{queryDTO.updateTimeEnd}
            </if>
        </where>
    </select>

    <select id="selectAllExportData" resultMap="CommentExcelVO">
        select
        <include refid="queryColumn"></include>
        from t_comment
        <where>
            <if test="queryDTO.id != null">
                AND id = #{queryDTO.id}
            </if>
            <if test="queryDTO.content != null and queryDTO.content != ''">
                AND content = #{queryDTO.content}
            </if>
            <if test="queryDTO.userUuid != null and queryDTO.userUuid != ''">
                AND user_uuid = #{queryDTO.userUuid}
            </if>
            <if test="queryDTO.createdAt != null">
                AND created_at = #{queryDTO.createdAt}
            </if>
            <if test="queryDTO.updatedAt != null">
                AND updated_at = #{queryDTO.updatedAt}
            </if>

            <if test="queryDTO.createTimeBegin != null ">
                AND create_time &gt;= #{queryDTO.createTimeBegin}
            </if>
            <if test="queryDTO.createTimeEnd != null ">
                AND create_time &lt;= #{queryDTO.createTimeEnd}
            </if>

            <if test="queryDTO.updateTimeBegin != null ">
                AND update_time &gt;= #{queryDTO.updateTimeBegin}
            </if>
            <if test="queryDTO.updateTimeEnd != null ">
                AND update_time &lt;= #{queryDTO.updateTimeEnd}
            </if>
        </where>
    </select>

    <select id="selectBatchExportData" resultMap="CommentExcelVO">
        select
        <include refid="queryColumn"></include>
        from t_comment
        where id in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </select>

    <sql id="queryColumn">
        id,
         content,
         user_uuid,
         created_at,
         updated_at
    </sql>

    <select id="selectDayByToday" resultMap="CommentVO">
        SELECT
        <include refid="queryColumn"></include>
        FROM t_comment
        WHERE DATEDIFF(created_at,now()) = #{gap}
    </select>

    <select id="selectRangeByDays" resultMap="CommentVO">
        SELECT
        <include refid="queryColumn"></include>
        FROM t_comment
        WHERE DATEDIFF(created_at,now()) <= 0
        AND  DATEDIFF(created_at,now()) >= -#{days}
    </select>

</mapper>